<div class="gameplay">
  <ul class="action-buttons-list">
    <li class="list-item">
        <button class="btn-action" (click)="isSelected(gameChoices.rock)">
        <i class="fa-solid fa-hand-back-fist"></i>
      </button>
    </li>
    <li class="list-item">
      <button class="btn-action" (click)="isSelected(gameChoices.paper)">
        <i class="fa-regular fa-hand"></i>
      </button>
    </li>
    <li class="list-item">
      <button class="btn-action" (click)="isSelected(gameChoices.scissor)">
        <i class="fa-solid fa-scissors"></i>
      </button>
    </li>
  </ul>   
<div>